.main{
  height: calc(100vh - var(--header-height));
  width: 1240px;
  margin: 0 auto;
  display: flex;
}

.aside{
  width: 100%;
  max-width: 320px;
}

.menu{
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.link{
  text-decoration: none;
  transition: .3s;
}

.linkActive{
  color: var(--text-primary-color);
}

.link:hover{
  color: var(--text-primary-color);
}

.button{
  border: 0;
  width: fit-content;
  background-color: inherit;
  transition: .3s;
}

.button:hover{
  cursor: pointer;
  color: var(--text-primary-color);
}

.content{
  flex-grow: 2;
}